<!doctype html>
<html>
    <header>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/{{ secret_path }}/css/babies.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <header>

    <body>
        <div class="head-container">
            <span class="title">Babies of Day #<input id="day-input" type="number" value="{{ startup_day }}" /></span>
        </div>
        <div class="main-container">
            <span class="baby-img-box"><img id="left-img" /></span>
            <span class="baby-img-box"><img id="right-img" /></span>
        </div>
        <script src="/babies/{{ secret_path }}/data.js"></script>
        <script src="/static/{{ secret_path }}/js/babies.js"></script>
    <body>
</html>
