<!doctype html>
<html>
    <header>
        <link rel="stylesheet" href="/static/{{ secret_path }}/css/babies.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <header>

    <body>
        <div class="head-container">
            <span class="title">Babies of Day #<input type="text" value="100" size="3"/></span>
        </div>
        <div class="main-container">
            <span class="baby-img-box"><img src="/static/{{ secret_path }}/photos/brytny-com-C4rXIFSzEXk-unsplash.jpg"/></span>
            <span class="baby-img-box"><img src="/static/{{ secret_path }}/photos/kelly-sikkema-If7eM-f7Ehg-unsplash.jpg"/></span>
        </div>
    <body>
</html>
